// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #1e88e5; /* blue */
  --ion-color-secondary: #fbc02d; /* yellow */
  --ion-color-tertiary: #1565c0;

  --ion-background-color: #f8f9fa;
  --ion-text-color: #1a1a1a;
}
